*{
    font-family: 'Rubik', sans-serif
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 16%;
    left: 0px;
    right: 0px;
}
.header{
    text-align: center;
}
.type{
    font-size: 35px;
}
.asanacard{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}
.asanaEle{
    width: 23%;
    height:350px;
    margin: 20px;
}
.name{
    color: black;
    font-size: 25px;
}
.font{
    font-size: 14px;
    margin: 0px 10px;
}
.asanaimg{
    width: 70%;
    height: 40%;
    box-shadow: rgba(15, 89, 170, 0.25) 0px 30px 60px -12px inset, rgba(3, 23, 38, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    margin: 15px;
    margin-top: 0px;
}

.asana{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
    background-color: #d6dff4;
    text-decoration: none;
    box-shadow: rgba(83, 61, 205, 0.16) 0px 10px 36px 0px, rgba(50, 43, 192, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    transition: 2s;
}
.asana:hover{
    color: rgb(136, 148, 213);
    opacity: 0.4;
}
.onhover{
    position: relative;
    bottom: 250px;
    left: 130px;
    transition: 2s;

}
.onhover:hover{
   color: black;
}


/* Media-queries */
@media only screen and (max-width: 1100px){
    .asanaEle{
        width: 27%;
        height:300px;       
    }
    .asanaimg{
        width: 65%;
        height: 42%;
    }
    .name{
        font-size: 20px;
    }
    .font{
        font-size: 12px
    }
}
@media only screen and (max-width: 900px){
    .asanaimg{
        width: 67%;
    }
    .name{
        font-size: 18px;
    }
    .font{
        font-size: 10px
    }
}
@media only screen and (max-width: 780px){
    .asanaEle{
        width: 38%;
        height:350px;       
    }
    .asanaimg{
        width: 70%;
        height:40%;       
    }
    .font{
        font-size: 12px
    }
}
@media only screen and (max-width: 620px){
    .asanaEle{
        width: 45%;
        height:290px;       
    }
    .name{
        font-size: 17px;
    }
    .font{
        font-size: 10px
    }
    .type{
        font-size: 25px;
    }
}
@media only screen and (max-width: 510px){
    .asanaEle{
        width: 60%;
        height:330px;       
    }
    .name{
        font-size: 20px;
    }
    .font{
        font-size: 12px
    }
}
@media only screen and (max-width: 420px){
    .asanaEle{
        width: 65%;
        height:280px;       
    }
    .asanaimg{
        width: 67%;
        height: 40%;
    }
    .name{
        font-size: 17px;
    }
    .font{
        font-size: 11px
    }
}
@media only screen and (max-width: 345px){
    .asanaEle{
        width: 78%;
        height:300px;       
    }
    .asanaimg{
        width: 72%;
        height: 40%;
    }
    .name{
        font-size: 19px;
    }
    .font{
        font-size: 11px
    }
}
