*{
    font-family: 'Rubik', sans-serif
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}
.header{
    text-align: center;

}
.asanacard{
    display: flex;
   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.name{
    color: black;
    font-size: 25px;
}
.asanaimg{
    width: 80%;
    height: 50%;
    box-shadow: rgba(15, 89, 170, 0.25) 0px 30px 60px -12px inset, rgba(3, 23, 38, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    margin: 15px;
    margin-top: 0px;
}
.asana{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
   
    padding: 10px;
    background-color: #97e8f6;
    text-decoration: none;
    box-shadow: rgba(83, 61, 205, 0.16) 0px 10px 36px 0px, rgba(50, 43, 192, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    transition: 2s;
}
.asana:hover{
    color: rgb(86, 106, 220);
    opacity: 0.4;
   
}
.onhover{
    position: relative;
    bottom: 300px;
    left: 170px;
    transition: 2s;
}
.onhover:hover{
   color: black;
}